<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.css">
        <title>Contact Demo</title>
    </head>
    <body>
        <a href="/show-map">Show Map</a>
        <h1>Contact form demo</h1>
        <div class="row">
            <form class="col s12" method="POST" action="/contact">
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate" required>
                    <label for="first_name">First Name</label>        
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Last Name" name="lastName" id="lastName" type="text" class="validate" required>
                    <label for="last_name">Last Name</label>        
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Email" name="email" id="email" type="email" class="validate" required>
                    <label for="email">Email</label>        
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Message" name="message" id="message" type="text" class="validate" required>
                    <label for="message">Message</label>        
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            </form>
        </div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
    </body>
</html>