<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/googleMaps.css">
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script src="js/jquery-3.1.1.min.js"> </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnwIa1EiQnYwNzmxiKXbPRPPO8DzgeOog">
    </script>
    <script src="js/photo-map.js"> </script>

  </body>
</html>